<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/061812e5-2eb1-4d6d-a492-d9d4881b86ea/resourcegroups/vishnushedole/providers/Microsoft.Web/sites/FirstAzureHostedWebApp20240502171449</ResourceId>
    <ResourceGroup>vishnushedole</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://firstazurehostedwebapp20240502171449.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9e5909df-b04d-4cd2-a9dc-62ca509f0112</ProjectGuid>
    <PublishUrl>https://firstazurehostedwebapp20240502171449.scm.azurewebsites.net/</PublishUrl>
    <UserName>$FirstAzureHostedWebApp20240502171449</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>